.mainContainer
{
    width: 50%;
    padding: 2%;
}

.areaPost
{
    resize: none;

}

.imageContainerWidth
{
    width: 80%;
}

.medias
{
    width: 400px;
    height: 250px;
    object-fit: cover;
}

/* Écran plus petit que  */
@media screen and (max-width: 1200px)
{
    .mainContainer
    {
        width: 65%;
    }
}

/* Écran plus petit que  */
@media screen and (max-width: 900px)
{
    .mainContainer
    {
        width: 85%;
    }
}

/* Écran plus petit que  */
@media screen and (max-width: 600px)
{
    .mainContainer
    {
        width: 95%;
    }

    .imageContainerWidth
    {
        width: 95%;
    }

    .imageContainerWidth img
    {
        width: 100%;
    }
}